<div class="footer container wide">
  <div class="footer-content container">
    <p><a href="/feeds/blogs/rss.xml">blog feed</a> | <a href="/feeds/poems/rss.xml">poem feed</a> <a href="https://aboutfeeds.com">(What is a feed?)</a></p>
    <a href="mailto:{{ .Site.Params.author.email }}">email me at {{ .Site.Params.author.email }}</a>
    <p>© {{ .Site.Params.copyright }} {{ .Site.Params.author.name }}</p>
    {{ $layout := .Site.Params.datelayout }}
    <p>last modified {{ .Lastmod.Format $layout }}</p>
  </div>
</div>
