{{ define "main" }}
<div class="generic_section container section">
  <a class="noline" href="/poems/">
    <h1>{{ lower .Title }}</h1>
  </a>
  <p><a href="/feeds/poems/rss.xml">poem feed</a> <a href="https://aboutfeeds.com">(What is a feed?)</a></p>
  {{ .Content }}

  <p>
    {{ range .Data.Terms.Alphabetical }}
    <span style="white-space: nowrap"><a href="{{ .Page.RelPermalink }}">{{ lower .Page.Title }}</a> ({{ len .Pages }})</span>
    {{ end }}
  </p>
</div>
{{ end }}

{{- define "linkstack" -}}
{{- partial "homelink" . -}}
{{- partial "aboutlink" . -}}
{{- partial "bloglink" . -}}
{{- partial "complink" . -}}
{{- partial "worklink" . -}}
{{- partial "slashlink" . -}}
{{- end -}}
