.footer {
  width: 100%;
  background-color: var(--clr-accent);
}

.footer-content {
  padding: 2em 2em;
  color: var(--clr-light);
}

.footer-content a {
  color: var(--clr-light);
  position: relative;
}

.footer-content a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: currentColor;
  transition: width 0.2s ease;
}

.footer-content a:hover::after {
  width: 100%;
}
