.header {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
}

.header h1 {
  color: var(--clr-h1);
  font-size: var(--size-lg);
}

.header-text {
  display: none;
  color: var(--clr-accent);
  font-size: var(--size-sm);
  transition: transform 0.3s, colour 0.3s;
}

.header .icon {
  display: none;
  color: var(--clr-accent);
  width: var(--size-lg);
  height: var(--size-lg);
}

.header .work,
.header .comp,
.header .about {
  display: none;
}

.header .blog,
.header .theme {
  display: block;
}

#sun,
#moon {
  transition: transform .2s, height .2s;
}

html[data-theme="light"] {
  #sun {
    opacity: 0;
    pointer-events: none;
    transform: translateY(5rem);
  }

  #moon {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}

html[data-theme="dark"] {
  #sun {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  #moon {
    opacity: 0;
    pointer-events: none;
    transform: translateY(5rem);
  }
}

.header a {
  transition: transform .3s ease;
}

.header a:hover {
  transform: translateY(-3px);
  color: var(--clr-accent3);
  cursor: pointer;
}

.header .btn {
  background-color: var(--clr-accent);
  color: var(--clr-light);
  font-size: var(--size-xs);
  padding-top: 0.25em;
  padding-top: 0.25em;
}

.header .btn:hover {
  color: var(--clr-light);
}

/* xs */
@media (min-width: 475px) {
  .header h1 {
    font-size: var(--size-2xl);
  }

  .header .btn {
    font-size: var(--size-base);
  }

  .header .about {
    display: block;
  }
}

/* sm */
@media (min-width: 640px) {

  .header .work,
  .header .comp {
    display: block;
  }
}

/* md */
@media (min-width: 768px) {

  .header .work,
  .header .comp,
  .header .blog,
  .header .about {
    display: none;
  }

  .header-text {
    display: block;
    font-size: var(--size-lg);
  }

  .header .icon#theme-toggle {
    width: var(--size-2xl);
    height: var(--size-2xl);
  }
}

/* lg */
@media (min-width: 1024px) {
  .header h1 {
    font-size: var(--size-4xl);
  }

  .header .btn,
  .header-text {
    font-size: var(--size-2xl);
  }

  .header .icon#theme-toggle {
    width: var(--size-3xl);
    height: var(--size-3xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  /* .header h1 { */
  /*     font-size: var(--size-6xl); */
  /* } */

  /* .header .btn,  */
  .header-text {
    font-size: var(--size-3xl);
  }

  .header .icon#theme-toggle {
    width: var(--size-4xl);
    height: var(--size-4xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
