<!doctype html>
<html lang="en" data-theme="" data-type='{{- block "type" . -}}base{{- end -}}'>

<head>
  {{- partial "head.html" . -}}
  {{- partial "assets.html" .Params.pageKey -}}
</head>

<body>
  {{- block "altHeader" . -}}
  <header>
    {{- partial "header.html" . -}}
  </header>
  {{- end -}}

  {{- block "altMain" . -}}
  <main>
    {{- block "main" . }}
    <div class="generic_section container section">
      <h1>{{ lower .Title }}</h1>
      {{ .Content }}
    </div>
    {{ end -}}
    {{- /* for the slash pages with content and straight html */ -}}
    {{- block "extra" . -}}
    {{- end -}}
  </main>
  {{- end -}}

  <footer>
    <div class="linkstack container wide section">
      {{- block "linkstack" . -}}
      {{- partial "aboutlink" . -}}
      {{- partial "poemlink" . -}}
      {{- partial "bloglink" . -}}
      {{- partial "complink" . -}}
      {{- partial "worklink" . -}}
      {{- partial "gamelink" . -}}
      {{- partial "slashlink" . -}}
      {{- end -}}
    </div>
    {{- partial "footer.html" . -}}
  </footer>
</body>

</html>
