/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: var(--clr-main);
  color: var(--clr-light);
  padding: 0.5em 1em;
  border-radius: 6px;
  transition: transform 0.3s, background-colour 0.3s;
}


.btn:hover {
  transform: translateY(-3px);
  background-color: var(--clr-accent3);
  color: var(--clr-accent);
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  /* border: 1px solid red; */
}

.container.wide {
  width: 100%;
}

.section {
  margin-top: 3rem;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.expand {
  flex: 1;
}

.jump-heading {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0ch;
  /* column-gap: .5ch; */
  column-gap: .25ch;
}

.jump-word {
  display: inline-flex;
  white-space: nowrap;
}

.jump_up {
  --random-rotation: 5deg;
  position: relative;
  display: inline-block;
  transition: all .3s ease;
  line-height: 1;
}

.accented {
  transition: all .3s ease;
}

.jump_up:hover {
  transform: translateY(-5px) rotate(var(--random-rotation));
}

.accented:hover {
  color: var(--clr-accent2);
}


.slide-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity .5s ease, transform .5s ease;
}

.slide-in.in-view {
  opacity: 1;
  transform: translateY(0);
}

/* overrides the slide in */
@media (prefers-reduced-motion: reduce) {
  .slide-in{
    opacity: 1;
    transform: translateY(0);
  }
}

.mouse-tracker {
  --mx: 0px;
  --my: 0px;
}

a,
p,
ol,
ul {
  font-size: var(--size-base);
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }

  a,
  p,
  ol,
  ul {
    font-size: var(--size-md);
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  a,
  p,
  ol,
  ul {
    font-size: var(--size-lg);
  }

  img {
    max-width: 80%;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  a,
  p,
  ol,
  ul {
    font-size: var(--size-xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  a,
  p,
  ol,
  ul {
    font-size: var(--size-2xl);
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.container.wide {
  max-width: none;
}
