.display {
  background-color: var(--clr-bg);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.display .wrapper{
  width: 100%;
  min-height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 0;
}

.display .wrapper .text{
  animation: slide-in linear forwards;
  animation-timeline: view();
  animation-range: 1rem;
  flex: 0 0 60%;
  background-color: var(--clr-accent);
  border-radius: 16px;
  padding: 1rem;
  color: var(--clr-light)
}

.display .wrapper p{
  max-width: 60ch;
}

.display .wrapper .text strong,
.display .wrapper .text a{
  color: var(--clr-accent2);
  transition: color .2s
}

.display .wrapper .text a:hover{
  color: var(--clr-accent3);
}

.display .wrapper .geometry{
  flex: 1;
  position: relative;
}


@property --accent-strength{
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --color-angle{
  syntax: "<angle>";
  inherits: true;
  initial-value: 45deg;
}

@property --tile-dim{
  syntax: "<length>";
  inherits: true;
  initial-value: 10px
}

@property --thru-gap{
  syntax: "<length>";
  inherits: true;
  initial-value: 2px
}

.display .wrapper .geometry a{ 
  --dim: 3rem;
  position: absolute;
  left: calc(50% - 0.5*var(--dim));
  bottom: calc(50% - 0.5*var(--dim));
  width: var(--dim);
  aspect-ratio: 1 / 1;
}

.display .wrapper .geometry .square{ 
  /* --dim: 50%; */
  position: absolute;
  overflow: hidden;
  inset: 0;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-image: 
  linear-gradient(var(--color-angle), var(--clr-accent) var(--accent-strength), var(--clr-accent3), var(--clr-opbg));
  transition: --accent-strength .5s, --color-angle 1s;
}

.display .wrapper .geometry .square::after{ 
  content: "";
  position: absolute;
  left: -25%;
  bottom: -25%;
  /* these are for the scrolling to be smooth */
  height: 150%; 
  width: 150%;
  pointer-events: none;

  /* a repeating background and transparency mesh */
  background-image: 
  repeating-linear-gradient(135deg, var(--clr-bg) 0px, var(--clr-bg) calc(var(--tile-dim) - var(--thru-gap)), transparent calc(var(--tile-dim) - var(--thru-gap)), transparent var(--tile-dim)),
  repeating-linear-gradient(45deg, var(--clr-bg) 0px, var(--clr-bg) calc(var(--tile-dim) - var(--thru-gap)), transparent calc(var(--tile-dim) - var(--thru-gap)), transparent var(--tile-dim));
  will-change: transform;
  animation: scrolling 2s linear infinite;
  transition: --color-angle 1s, --thru-gap 1s;
}

.display .wrapper .geometry .square:hover {
  --accent-strength: 33%;
  --color-angle: 75deg;
  --thru-gap: 4px;
}

.display .wrapper .geometry .icon{
  --dim: 3rem;
  pointer-events: none;
  color: var(--clr-accent);
  position: absolute;
  left: calc(50% - 0.5*var(--dim) + 1rem);
  bottom: calc(50% - 0.5*var(--dim) + .75rem);
  width: var(--dim);
  aspect-ratio: 1 / 1;
}

/* it was too complex to use the 135 75 combo since irregular 
 * so i ended up just making it squares so the scroll would work */
@keyframes scrolling {
  0%{ transform: translate(0,0); }
  100%{ transform: translate(
    calc(var(--tile-dim) * cos(-45deg)),
    calc(var(--tile-dim) * sin(-45deg))
  ); }
}

/* tiny */
@media (min-width: 300px) {
  .display .wrapper .geometry a,
  .display .wrapper .geometry .icon{
    --dim: 5rem;
  }
}

/* xs */
@media (min-width: 475px) {
  .display .wrapper .geometry a,
  .display .wrapper .geometry .icon{
    --dim: 8rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .display .wrapper .geometry a,
  .display .wrapper .geometry .icon{
    --dim: 8rem;
  }

  .display .wrapper .geometry a {
    left: calc(50% - 0.5*var(--dim));
    bottom: calc(50% - 0.5*var(--dim));
  }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .display .wrapper .geometry a,
  .display .wrapper .geometry .icon{
    --dim: 10rem;
  }

  .display .wrapper .text{
    flex: 0 0 52%;
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
