.poem {
  position: relative;
  margin: 0 auto;
  padding: 2rem;
  border: 2px solid var(--clr-accent);
  border-radius: 16px;
  max-width: 60ch;
  color: var(--clr-main);
  scroll-margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: .75rem;
}

.poem .verse {
  font-size: var(--size-base);
}

.poem .links {
  margin-top: -.75rem;
}

.poem .left-icon,
.poem .right-icon {
  position: absolute;
  height: 2rem;
  width: 2rem;
  bottom: 1rem;
  color: var(--clr-h1);
}

.poem .left-icon {
  right: 2.5rem;
}

.poem .right-icon {
  right: 1rem;
}

.poem .left-icon:hover,
.poem .right-icon:hover {
  color: var(--clr-accent2);
}

/* xs */
@media (min-width: 475px) {
  .poem .verse {
    font-size: var(--size-md);
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .poem .verse {
    font-size: var(--size-lg);
  }
}

/* lg */
@media (min-width: 1024px) {
  .poem .verse {
    font-size: var(--size-xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .poem .verse {
    font-size: var(--size-2xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
