{{- /* expects a poem page as context */ -}}
<div class="poem" id="{{ lower .Title }}">
  {{ .Content }}
  {{- $title := lower .Title -}}
  <a href="{{ .RelPermalink }}">{{ lower $title }}</a>
  <p>
    {{- if .Params.themes -}}
    <a href="/themes/">themes:</a>
    {{- range .Params.themes }}
     <a href="/themes/{{ . }}/#{{ $title }}">{{ . }}</a>
    {{- end -}}
    {{- end -}}
  </p>
  <p>
    {{- if .Params.series -}}
    <a href="/series/">series:</a>
    {{- range .Params.series }}
     <a href="/series/{{ . }}/#{{ $title }}">{{ . }}</a>
    {{- end -}}
    {{- end -}}
  </p>
  {{ partial "poemnav" . }}
</div>
