{{ define "main" }}
<div class="generic_section container section">
  <a class="noline" href="/blogs/">
    <h1>{{ .Title }}</h1>
  </a>
  <p><a href="/feeds/blogs/rss.xml">blog feed</a> <a href="https://aboutfeeds.com">(What is a feed?)</a></p>
  {{ .Content }}
  <ul>
    {{ range (where site.RegularPages "Type" "blogs") }}
    <li><a href="{{ .RelPermalink }}">{{ lower .Title }}</a> ({{ .Date.Format "2 Jan 2006" }})</li>
    {{ end }}
  </ul>
</div>
{{ end }}

{{- define "linkstack" -}}
{{- partial "homelink" . -}}
{{- partial "aboutlink" . -}}
{{- partial "poemlink" . -}}
{{- partial "complink" . -}}
{{- partial "worklink" . -}}
{{- partial "slashlink" . -}}
{{- end -}}
