{{- define "linkstack" -}}
{{- partial "homelink" . -}}
{{- partial "aboutlink" . -}}
{{- partial "poemlink" . -}}
{{- partial "bloglink" . -}}
{{- partial "worklink" . -}}
{{- partial "gamelink" . -}}
{{- partial "slashlink" . -}}
{{- end -}}

{{- define "extra" -}}
<div class="generic_section section container">
  <h1>wordsmithery and the like</h1>
  <p>Here are some of my wordy arts: blogs, poems, and potentially some newsletters in the future!</p>
</div>
<div class="display section container">
  {{ $descr := "I've been writing daily poems for coming up to 3 years, some of them are good some of them aren't, but there's so many I hope you'll find some that you like. [To the poems!](/poems/)" }} 
  {{ partial "display-card" (dict "type" "poem" "order" 0 "link" "/poems/" "title" "poetry" "descr" $descr "iconname" "poemicon") }}
  {{ $descr = "The home of my yap indeed. Perhaps you'll find some wisdom here. I'll probably talk about Christ, tech, writing and whatever else comes to mind. [To the blogs!](/blogs/)" }} 
  {{ partial "display-card" (dict "type" "blog" "order" 1 "link" "/blogs/" "title" "blogging" "descr" $descr "iconname" "blogicon") }}
</div>
<div class="generic_section section container">
  <h1>a side of science with my 'puters!</h1>
  <p>A collection of my varied computer science and programming interests.</p>
</div>
<div class="display section container">
  {{ $descr = "I'm loving this atm, and I talk a little about how I made this website [here](/blogs/2025/making-this-site/). In the future I may link to other fun web projects I do." }} 
  {{ partial "display-card" (dict "type" "comp" "order" 0 "link" "" "title" "web development" "descr" $descr "iconname" "webdevicon") }}
  {{ $descr = "A little place to explore my theoretical computer science interests. **Heads up!** I haven't built this out yet - sorry!. [To theory!]()" }} 
  {{ partial "display-card" (dict "type" "comp" "order" 1 "link" "" "title" "theoretical" "descr" $descr "iconname" "csicon") }}
  {{ $descr = "Linear algebra gpus and beautiful art... and all in one! I'll showcase some of my adventures in graphics programming and shader art here at some point. **Heads up!** I haven't built this out yet - sorry!. [To graphics!]()" }} 
  {{ partial "display-card" (dict "type" "comp" "order" 0 "link" "" "title" "graphics programming" "descr" $descr "iconname" "gpuicon") }}
</div>
{{- end -}}
