{{- define "type" -}}blog{{- end -}}

{{- define "main" -}}
<div class="generic_section container section">
  <a class="noline" href="/blogs/">
    <h1>{{ lower .Title }}</h1>
  </a>
  {{- $layout := .Site.Params.datelayout -}}
  <p><strong><em>{{- .Date.Format $layout }}</em></strong>
    <strong> | </strong> last modified {{ .Lastmod.Format $layout -}}
    <br><a href="/feeds/blogs/rss.xml">blog feed</a> <a href="https://aboutfeeds.com">(What is a feed?)</a>
  </p>
  {{ .Content }}
</div>
{{- partial "lastxblogs" 5 -}}
{{- partial "blogarchives" . -}}
{{- end -}}

{{- define "linkstack" -}}
{{- partial "homelink" . -}}
{{- partial "aboutlink" . -}}
{{- partial "poemlink" . -}}
{{- partial "complink" . -}}
{{- partial "worklink" . -}}
{{- partial "slashlink" . -}}
{{- end -}}
