:root {
  font-family: 'Satoshi', sans-serif;
  /* dark mode */
  --clr-dark: #020617;
  --clr-dmain: #94a3b8;
  --clr-dh1: #f8fafc;
  /* light mode */
  --clr-light: #f8fafc;
  --clr-lmain: #475569;
  --clr-lh1: #1e293b;


  /* color schemes all 600, 200 */
  /* base rose */
  --clr-base-blood: #ec003f;
  --clr-base-water: #ffccd3;
  /* poems lime */
  --clr-poem-blood: #5ea500;
  --clr-poem-water: #d8f999;
  /* blogs cyan */
  --clr-blog-blood: #0092b8;
  --clr-blog-water: #a2f4fd;
  /* computers green */
  --clr-comp-blood: #00a63e;
  --clr-comp-water: #b9f8cf;
  /* work blue */
  --clr-work-blood: #155dfc;
  --clr-work-water: #bedbff;
  /* games amber */
  --clr-game-blood: #e17100;
  --clr-game-water: #fee685;
  /* sitemap fuchsia */
  --clr-slash-blood: #c800de;
  --clr-slash-water: #f6cfff;

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: 'Satoshi', sans-serif;
  background-color: var(--clr-bg);
  color: var(--clr-main);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a {
  color: var(--clr-accent);
  text-decoration: none;
}

a:hover {
  color: var(--clr-accent3);
}

strong {
  color: var(--clr-accent);
  font-weight: bolder;
}

/* defaulting to light colouring */
:root {
  --clr-bg: var(--clr-light);
  --clr-main: var(--clr-lmain);
  --clr-h1: var(--clr-lh1);

  /* defaults accents to base and h2 to accent3 */
  --clr-accent: var(--clr-base-blood);
  --clr-accent2: var(--clr-base-water);
  --clr-accent3: #a6a09b;
  /* most places will use --clr-accent instead of --clr-h2 anyway */
  --clr-h2: var(--clr-accent3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-bg: var(--clr-dark);
    --clr-main: var(--clr-dmain);
    --clr-h1: var(--clr-dh1);
  }
}

html[data-theme="light"] {
  --clr-bg: var(--clr-light);
  --clr-main: var(--clr-lmain);
  --clr-h1: var(--clr-lh1);
}

html[data-theme="dark"] {
  --clr-bg: var(--clr-dark);
  --clr-main: var(--clr-dmain);
  --clr-h1: var(--clr-dh1);
}

/* the default */
html[data-type="base"] {
  --clr-accent: var(--clr-base-blood);
  --clr-accent2: var(--clr-base-water);
}

html[data-type="poem"] {
  --clr-accent: var(--clr-poem-blood);
  --clr-accent2: var(--clr-poem-water);
}

html[data-type="blog"] {
  --clr-accent: var(--clr-blog-blood);
  --clr-accent2: var(--clr-blog-water);
}

html[data-type="comp"] {
  --clr-accent: var(--clr-comp-blood);
  --clr-accent2: var(--clr-comp-water);
}

html[data-type="work"] {
  --clr-accent: var(--clr-work-blood);
  --clr-accent2: var(--clr-work-water);
}

html[data-type="game"] {
  --clr-accent: var(--clr-game-blood);
  --clr-accent2: var(--clr-game-water);
}

html[data-type="slash"] {
  --clr-accent: var(--clr-slash-blood);
  --clr-accent2: var(--clr-slash-water);
}
