:root {
  font-family: 'Satoshi', sans-serif;
  /* dark mode */
  --clr-dark: #020617;
  --clr-dmain: #94a3b8;
  --clr-dh1: #f8fafc;
  /* light mode */
  --clr-light: #f8fafc;
  --clr-lmain: #475569;
  --clr-lh1: #1e293b;

  --clr-bg: var(--clr-dark);
  --clr-main: var(--clr-dmain);
  --clr-h1: var(--clr-dh1);
  --clr-h2: var(--clr-base-accent);
  --clr-accent: var(--clr-base-accent);
  --clr-accent2: var(--clr-base-water);
  --clr-accent3: #a6a09b;

  /* color schemes all 600, 200 */
  /* base rose */
  --clr-base-accent: #ec003f;
  --clr-base-water: #ffccd3;
  /* poems lime */
  --clr-poem-accent: #5ea500;
  --clr-poem-water: #d8f999;
  /* blogs cyan */
  --clr-blog-accent: #0092b8;
  --clr-blog-water: #a2f4fd;
  /* games amber */
  --clr-game-accent: #e17100;
  --clr-game-water: #fee685;
  /* computers green */
  --clr-comp-accent: #00a63e;
  --clr-comp-water: #b9f8cf;
  /* work blue */
  --clr-work-accent: #155dfc;
  --clr-work-water: #bedbff;

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: 'Satoshi', sans-serif;
  background-color: var(--clr-bg);
  color: var(--clr-main);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a {
  color: var(--clr-accent);
  text-decoration: none;
}

strong {
  color: var(--clr-h2);
  font-weight: bolder;
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-bg: var(--clr-light);
    --clr-main: var(--clr-lmain);
    --clr-h1: var(--clr-lh1);
    --clr-h2: var(--clr-base-accent);
    --clr-accent: var(--clr-base-water);
    --clr-accent2: var(--clr-base-accent);
  }
}
